.offers {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-bg-color);
  .body {
    background-color: inherit;
    width: 100%;
    max-width: 1250px;
    padding: 2rem 1.5rem;
  }
}
